*{
      margin: 0;
      padding:0;
      font-family: 'popins','sans-serif';
      box-sizing: border-box;
}
body {
      background-image: url(back.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      
   
  }
  h1{
      padding-left: 550px;
      padding-top: 50px;
  }
  .main{
      margin-left: 310px;
      margin-top: 80px;
      
      height: 400px;
      width: 800px;
      padding-left: 250px;
      padding-top: 100px;
  }
  textarea{
      width: 600px;
      height: 250px;
      margin-left: -150px;
      margin-top: -20px;
      background-color: rgba(7, 38, 56, 0.9);
      border-radius: 10px;
      padding: 20px;
      color: aliceblue;
      font-size: 25px;
      border: none;
  }
  .listen{
      display: flex;
      gap: 30px;
      padding-top: 30px;
      margin-right: 200px;
  }
  .listen button{
      width: 100px;
      height: 35px;
      border-radius: 10px;
      background-color: darkmagenta;
      border: none;
      cursor: pointer;
  }
  select{
      flex: 1;
      color: #fff;
      height: 30px;
      appearance: none;
      background:rgba(7, 38, 56, 0.9);
      margin-left: -100px;
      border: none;
      border-radius: 10px;
  }
     
